<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal

    </button>
    <div class="button-container">
        <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="button-content">
                <h3>The Basic</h3>
                <p>Descripción del botón.</p>
            </div>
        </button>
        <!-- Modal -->
    </div>
    <app-aprendermodule></app-aprendermodule>
</body>

</html>